@import '../../../../styles/_variables';

:host{
  position: relative;
  width: 100%;
  height: calc(100% - 64px); // toolbar
  overflow: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

md-list{
  opacity: 0.5;
}