<md-card class="zp-card-form" *ngIf="formIsVisible" [@formAnimation]="formIsVisible">
  <md-toolbar color="primary">Login</md-toolbar>
  <md-card-content>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" id="loginForm">
      <md-input type="type" placeholder="Login" [(ngModel)]="credentials.login" name="login" required></md-input>
      <md-input type="password" placeholder="Password" [(ngModel)]="credentials.password" name="password" required></md-input>
      <div *ngIf="error">{{error}}</div>
    </form>
  </md-card-content>
  <md-card-actions align="end">
    <button md-button routerLink="/register">Sign Up</button>
    <button form="loginForm" type="submit" md-raised-button color="primary">Sign In</button>
  </md-card-actions>
</md-card>
