@import '../../../../styles/_variables';

:host{
  display: block;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
}

[zp-user-presence]{
  position: absolute;
  left: 0;
  margin-right: -($zp-user-presence-size * 1.5);
  top: 50%;
  margin-top: -($zp-user-presence-size * 0.5);
}


[zp-user-firstname]{
  margin-left: 4px;
  font-weight: 300;
  &.presence{
    margin-left: $zp-user-presence-size * 1.5;
  }
}

[zp-user-lastname]{
  font-weight: 600;
}