@import '../../../../styles/_variables';

:host {
  display: flex;
  flex-direction: column;
  background-color: md-color($primary);
  color: $zp-white;
  padding: 10px 0;
  height: $zp-profile-height;
}