<zp-avatar [user]="user" [size]="80"></zp-avatar>
<div zp-profile-username>
  <zp-username [user]="user"></zp-username>
  <button md-icon-button [md-menu-trigger-for]="menuProfile">
    <md-icon>sort</md-icon>
  </button>
</div>

<md-menu #menuProfile="mdMenu" x-position="after" y-position="below">
  <button md-menu-item>
    <div zp-user-presence></div> 
    <span> Online </span>
  </button>
  <button md-menu-item>
    <div zp-user-presence></div> 
    <span> Occupied </span>
  </button>
  <button md-menu-item>
    <div zp-user-presence></div> 
    <span> Offline </span>
  </button>
  <button md-menu-item> 
    <md-icon> lock_open </md-icon>
    <span> Logout </span>
  </button>
</md-menu>