@import '~@angular/material/core/theming/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.

$black-87-opacity: rgba(black, 0.87);
$white-87-opacity: rgba(white, 0.87);
$md-custom-blue: (
  50: #13213C,
  100: #13213C,
  200: #13213C,
  300: #13213C,
  400: #13213C,
  500: #13213C,
  600: #13213C,
  700: #13213C,
  800: #13213C,
  900: #13213C,
  A100: #13213C,
  A200: #13213C,
  A400: #13213C,
  A700: #13213C,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$primary: md-palette($md-custom-blue);
$accent:  md-palette($md-blue);

// The warn palette is optional (defaults to red).
$warn: md-palette($md-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: md-light-theme($primary, $accent, $warn);

$zp-whiter: #FAFAFA;
$zp-white: #F5F5F5;
$zp-black: #252525;
$zp-green: #80cd3d;
$zp-red: #f1452a;
$zp-yellow: #fbc81e;

$zp-size-sm: 24px;
$zp-size-md: 32px;
$zp-size-lg:36px;
$zp-size-xl:48px;
$zp-size-xxl:64px;
$zp-size-xxxl:72px;

$md-error: $zp-red;
$md-warning: $zp-yellow;
$md-success: $zp-green;

$background: $zp-white;
$background-accent: $zp-black;
$background-fade: rgba($zp-whiter, 0.67);

$dark-background: $zp-black;
$dark-background-accent: $zp-white;

$transition-duration-fast: 375ms;
$transition-duration-normal: 500ms;
$transition-duration-slow: 1000ms;
$transition-easing: cubic-bezier(0.4, 0.0, 0.2, 1);

$md-list-avatar-size: $zp-size-lg;
$md-list-avatar-margin: 5px;
$md-list-avatar-computed-size: $md-list-avatar-size + ($md-list-avatar-margin * 2);
$md-toolbar-height: $zp-size-xxl;
$md-spinner-size: $zp-size-xl;
$md-list-image-size: 200px;
$md-list-placeholder-icon-size: 80px;

$zp-navigation-context-width: 80px;
$zp-navigation-width: 360px;
$zp-sidenav-width: 280px;
$zp-profile-height: $md-toolbar-height;
$zp-user-presence-size: 10px;

$zp-shadow-light: rgba(0,0,0, .26);
$zp-shadow-button: rgba(19, 33, 60, 0.12);

$zp-shadow-0: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
$zp-shadow-1: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
$zp-shadow-2: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
$zp-shadow-3: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);

$zp-shadow-1-up: 0px -3px 1px -2px rgba(0, 0, 0, 0.2), 0px -2px 2px 0px rgba(0, 0, 0, 0.14), 0px -1px 5px 0px rgba(0, 0, 0, 0.12);

$zp-radius: 2px;

$font-size-xxs: 10px;
$font-size-xs: 14px;
$font-size-sm: 18px !default;
$font-size-md: 24px;
$font-size-lg: $zp-size-lg;
$font-size-xl: $zp-size-xl;
$font-size-xxl: $zp-size-xxl;