/* 
* Temporary Material 2 hack
*/

// padding overflow issue
md-card{
  overflow: hidden;
}

// bug : input scrollbar on form
.md-input-placeholder{
	overflow: hidden;
}

// sidenav backdrop out transition 
.md-sidenav-backdrop{
  transition-property:background-color, visibility;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
}

// improved hover effect transition
[md-button], 
[md-icon-button]{
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;    
    pointer-events: none;
    border-radius: inherit;
    z-index: -1;
    transition: background-color 400ms;
    background-color: transparent;
  }
  md-icon{
    transition: color 400ms;
  }
}

// flex support
[md-mini-fab] {
  min-width: 40px !important;
}

// Encapsulation emulation doesn't allow custom style on rendered elements
.zp-messages-list {
  .md-list-item {
    height: auto !important;
  }
  .md-list-text {
    overflow: initial !important;
  }
}
