/* 
* Temporary Material 2 hack
*/

// padding overflow issue
md-card{
  overflow: hidden;
}

// bug : input scrollbar on form
.md-input-placeholder{
	overflow: hidden;
}

// sidenav backdrop out transition 
.md-sidenav-backdrop{
  transition-property:background-color, visibility;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
}

// navigation mode="side" not animated :( && overflow-x visible on load
.md-sidenav-content {
    transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1), margin-left 400ms cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    overflow-x: hidden !important;
}

// improved hover effect transition
[md-button], 
[md-icon-button]{
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;    
    pointer-events: none;
    border-radius: inherit;
    z-index: -1;
    transition: background-color 400ms;
    background-color: transparent;
  }
  md-icon{
    transition: color 400ms;
  }
}

// flex support
[md-mini-fab],
[md-icon-button] {
  min-width: 40px !important;
}

// Encapsulation emulation doesn't allow custom style on rendered elements
zp-messages{
  .md-progress-bar-buffer{
    background-color: transparent;
  }
  .zp-messages-list {
    .md-list-item {
      height: auto !important;
      padding: 0;
    }
    .md-list-text {
      overflow: initial !important;
    }
  }
}
// Encapsulation doesn't allow inner component tweak :(
zp-organization-dialog{
  zp-user-list{
    md-list{
      max-height: 60vh;
      overflow: auto;
      overflow: overlay;
      padding-bottom: 4px;
    }
  }
}

// md-menu catcher below
.md-menu-click-catcher{
  z-index: 9;
}

// aligned icon inner md-button
[md-button] > .md-button-wrapper{
  > md-icon{
    vertical-align: middle;
    margin-bottom: 2px;
  }
}

// Checkbox unaligned

md-checkbox{
  display:flex;
}
.md-list-item{
  md-checkbox{
    margin-right: 4px;
  }
}