html,
body {
  height: 100%;
  min-height: 100%;
}
body{
  font-family: 'Noto Sans', sans-serif !important; 
}
html{
  background-color:$zp-white;
}
html::before{
  opacity: 0.75;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
  background-image: url('../assets/texture_01.jpg');
  // background-color:#fff;
  // background-blend-mode: luminosity;
}

app-root{
  display: flex;
  height: 100%;
  flex-direction: column;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-height {
  height: 100%;
  flex: 1;
}

.flex-fill{
    flex: 1 1 auto;
}
md-sidenav{
  background-color: transparent !important;
}
md-sidenav-layout{
  height: 100%;
  background-color: transparent !important;
}
md-toolbar{
  background-color: transparent;
}
.zp-color-white{
  color: $zp-white;
}

.zp-mockup-infos{
  position: fixed;
  background: white;
  right: 0;
  padding: 5px 10px;
  bottom: 0;
  z-index: 9;
  border: 2px solid red;
}