/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:before,*:after {
    box-sizing: border-box;
}

// Chartist reset
.ct-series-a {
	.ct-point,
	.ct-line,
	.ct-bar,
	.ct-slice-donut {
		stroke: md-color($primary);
	}
	.ct-area,
	.ct-slice-pie{
		fill: md-color($primary);
	}
}

.ct-series-b {
	.ct-point,
	.ct-line,
	.ct-bar,
	.ct-slice-donut {
		stroke: md-color($accent);
	}
	.ct-area,
	.ct-slice-pie{
		fill: md-color($accent);
	}
}

//introJs reset
.introjs-hint{
	&:hover{
		.introjs-hint-pulse{
			border: 5px solid lighten(md-color($primary),10%);
		}
	}
	.introjs-hint-pulse{
		border: 5px solid md-color($primary);
	}
}
.introjs-tooltiptext{
	text-align: center;
}
.introjs-button{
	user-select: none;
	outline: none;
	border: none;
	display: inline-block;
	white-space: nowrap;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 14px;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-weight: 500;
	color: currentColor;
	text-align: center;
	margin: 0;
	margin-top: 10px;
	min-width: 88px;
	line-height: 36px;
	padding: 0 16px;
	border-radius: 2px;
	background-color: md-color($primary);
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	transform: translate3d(0, 0, 0);
	transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
	&:active{
		box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
	}
}

input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
	cursor: pointer; 
}

// Scrollbar reset
::-webkit-scrollbar{
  border-radius: 1px;
  width: 10px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background: md-color($primary);
  border-radius: 1px ;
}
