@import '~@angular/material/core/theming/all-theme';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include md-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

.dark-theme {
  $dark-primary: md-palette($md-indigo);
  $dark-accent:  md-palette($md-cyan);
  $dark-warn:    md-palette($md-red);
  $dark-theme: md-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);   
}

html.dark-theme{  
  background-color:$dark-background;
}
.dark-theme{
  .ct-label {
    fill: rgba(255,255,255, 0.7);
    color: rgba(255,255,255, 0.7);
  }
  md-sidenav {
    background-color: $dark-background;
  }
}