<md-sidenav-layout>
  <md-sidenav #navigation mode="{{isMobile ? 'over' : 'side'}}">
    <zp-navigation [navigation]="navigation" [user]="user" (logout)="onLogout()"></zp-navigation>
  </md-sidenav>

  <!--<md-sidenav #sidenav align="end">
    <zp-sidenav [sidenav]="sidenav"></zp-sidenav>
  </md-sidenav>-->

  <md-toolbar color="primary" *ngIf="toolbarIsVisible" [@toolbarAnimation]="toolbarIsVisible">
    <button md-icon-button (click)="navigation.toggle()"> <!--  md-tooltip="{{navigationOpened ? 'close menu' : 'open menu'}}" -->
      <md-icon>{{navigationOpened ? 'close' : 'menu'}}</md-icon>
    </button>
    <zp-avatar [user]="user" [size]="40" presence="true" [@profileAnimation]="!navigationOpened"></zp-avatar>
    <span [@profileAnimation]="!navigationOpened">{{ user.firstname }}</span>
    <span class="flex-fill"></span>
    <button md-icon-button [md-menu-trigger-for]="menu"><md-icon>more_vert</md-icon></button>
  </md-toolbar>

  <md-menu #menu="mdMenu" x-position="before">
    <button md-menu-item disabled>Refresh</button>
    <button md-menu-item disabled>Settings</button>
    <button md-menu-item disabled>Help</button>
    <button md-menu-item (click)="onLogout()">Logout</button>
  </md-menu>

  <div class="zp-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-layout>
