@import '../../../styles/_variables';

:host {
  display:block;
  position:relative;
  width: 100%;
  height: 100%;
}

md-toolbar{
  z-index: 1;
  height: $md-toolbar-height;
}
md-sidenav{
  overflow:hidden;
  // box-shadow: none !important;
  &.md-sidenav-over{
    background-color: $zp-white !important;
  }
}

zp-avatar{
  margin-right: 10px;
}

.zp-content {
  position: relative;
  display: block;
  /* toolbar height : 64px */
  height: calc(100% - #{$md-toolbar-height});
  overflow: auto;
}