<md-sidenav-layout>
  <md-sidenav #navigation>
    <zp-navigation [navigation]="navigation"></zp-navigation>
  </md-sidenav>
  <md-sidenav #sidenav align="end">
    <zp-sidenav [sidenav]="sidenav"></zp-sidenav>
  </md-sidenav>
  <md-toolbar color="primary" *ngIf="toolbarIsVisible" [@toolbarAnimation]="toolbarIsVisible">
    <button md-icon-button (click)="navigation.open()"><md-icon>menu</md-icon></button>
    <span>ZeTalk</span>
    <span class="flex-fill"></span>
    <button md-icon-button (click)="sidenav.open()"><md-icon>more_vert</md-icon></button>
  </md-toolbar>
  <div class="zp-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-layout>