@import '../../../../styles/_variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.zp-messages-actions {
  box-shadow: $zp-shadow-1;
  z-index: 1;
  button {
    margin: 0 5px;
  }
}

md-list{
  height: 100%;
  overflow: auto;
  padding-bottom: 8px;
}
md-list-item{
  position: relative;
  display: block;
  background-color: $background;
  max-width: 90%;
  width: 100%;
  border-radius: $zp-radius $zp-radius 0 0;
  margin: 0 8px;
  margin-top: 8px;
  padding-top: 10px;
  float: left;
  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: md-color($primary);
  &.owner {
    float: right;
    border-left-color: md-color($accent);
  }
  &.precede {
    margin-top: 0;
    padding-top: 0;
    border-radius: 0;
    &:last-child {
      border-radius: 0 0 $zp-radius $zp-radius;
    }
    [md-list-avatar] {
      opacity: 0;
    }
    h3[md-line] {
      opacity: 0;
    }
    p[md-line] {
      padding-top: 0;
    }
  }
}
p[md-line]{
  white-space: normal;
  word-break: break-all;
  overflow: visible;
  padding-top: 10px;
  padding-bottom: 12px;
  line-height: 20px;
}
[md-list-date]{
  position: absolute;
  bottom: 4px;
  right: 8px;
  font-size: 10px;
}

.zp-messages-inputs {
  box-shadow: $zp-shadow-1-up;
  padding: 20px 10px;
  z-index: 1;
  form {
    width: 100%;
  }
  button {
    margin: 0 5px;
  }
}

.zp-input-files {
  input {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0;
  }
}

.zp-messages-inputs-text {
  // max-width: 600px;
  // width: 100%;
  margin: 0 10px;
}