@import '../../../../styles/_variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%; //calc(100% - 64px);
  width: 100%;
}

md-list{
  height: 100%;
  overflow: auto;
  padding-bottom: 8px;
  background-color: $background-fade;
  &.empty{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
[md-list-empty]{
  color: md-color($primary);
}

md-list-item{
  position: relative;
  display: block;
  width: calc(100% - #{($md-list-avatar-computed-size + 16)});
  border-radius: $zp-radius $zp-radius 0 0;
  margin-right: 8px;
  margin-top: 8px;
  margin-left: $md-list-avatar-computed-size;
  padding-top: 10px;
  float: left;
  border-left-width: 6px;
  border-left-style: solid;
  border-left-color: md-color($accent);
  transition-property: background-color;
  will-change: background-color;
  transition-duration: $transition-duration-fast;
  transition-timing-function: $transition-easing;
  cursor: pointer;
  &.owner {
    border-left-color: md-color($primary);
  }
  &.precede {
    margin-top: 2px;
    padding-top: 0;
    border-radius: 0;
    &:last-child {
      border-radius: 0 0 $zp-radius $zp-radius;
    }
  }
  &.hovered{
    background-color: $zp-white;
    [md-list-avatar]{
      opacity: 1;
    }
    &.attachment{
      &.image{
        cursor: zoom-in;
      }
      [md-list-image]{
        opacity: 0.9;
        transform: scale(1.02);
      }
    }
  }
}
[md-list-avatar]{
  position: absolute;
  left:-($md-list-avatar-computed-size);
  top: 2px;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  transition-property: opacity;
  will-change: opacity;
  transition-duration: $transition-duration-fast;
  transition-timing-function: $transition-easing;
  &.fade{
    opacity: 0.2;
  }
}
[md-list-author]{
  overflow: visible;
  font-weight: 600;
}
[md-list-content]{
  white-space: normal;
  overflow: visible;
  padding-top: 8px;
  padding-bottom: 16px;
  line-height: 16px;
}
[md-list-date]{
  position: absolute;
  bottom: 4px;
  right: 8px;
  font-size: 10px;
}
[md-list-image]{
  object-fit: cover;
  max-width: 100%;
  min-height: 200px;
  max-height: 200px;
  border-radius: $zp-radius;
  transition-property: opacity, transform;
  will-change: opacity, transform;
  transition-duration: $transition-duration-fast;
  transition-timing-function: $transition-easing;
  backface-visibility: hidden;
}
[md-list-file]{
  display: flex;
  align-items: center;
  margin-left: -12px;
  md-icon{
    width: $zp-size-xxxl;
    height: $zp-size-xxxl;
    font-size: $zp-size-xxxl;
    color: md-color($primary);    
  }
  p{
    font-size: $font-size-xs;
    padding: 1px 0;
    span{
      font-weight: bold;
    }
  }
}

[zp-messages-pagination]{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.zp-messages-inputs {
  box-shadow: $zp-shadow-1-up;
  padding: 20px 10px;
  z-index: 1;
  position: relative;
  form {
    width: 100%;
  }
  button {
    margin: 0 5px;
    overflow: hidden;
  }
  md-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.zp-input-files {
  position: relative;
  input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -1;
    cursor: pointer;
  }
}

.zp-messages-inputs-text {
  // max-width: 600px;
  // width: 100%;
  margin: 0 10px;
}

.zp-messages-dropzone{
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 2;
  color: $zp-white;
  background-color: $zp-shadow-light;
  backface-visibility : hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.zp-messages-dropzone-content{
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}