@import '../../../../styles/_variables';

:host {
  display: block;
  width: $zp-navigation-width;
  max-width: 80vw;
  height: 100%;
}
.zp-nav-close{
  position: absolute;
  top: 8px;
  right: 8px;
  color: $background;
}

[zp-nav-overflow]{
  height: calc(100% - #{$zp-profile-height});
  overflow: auto;
  overflow: overlay;
}

md-nav-list{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  > button {
    width: 100%;
    margin: 5px 0;
  }
}

.zp-user-list-actions{
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 20px;
}