<zp-profile [user]="user" (logout)="onLogout()"></zp-profile>

<div zp-nav-overflow>
  <md-nav-list>
    <button color="primary" *ngFor="let route of routes" md-button [routerLink]="route.link">
      <md-icon>{{route.icon}}</md-icon>
      {{route.name}}
    </button>
  </md-nav-list>

  <zp-user-list [users]="users" [link]="'conversation/'" [lastMessage]="true">
    <div class="zp-user-list-actions">
      <h4>Contacts({{users?.length}})</h4>
      <span class="flex-fill"></span>
      <zp-add-contact></zp-add-contact>
    </div>
  </zp-user-list>
</div>
