<button class="zp-nav-close" md-icon-button (click)="navigation.close()">
  <md-icon>close</md-icon>
</button>
<zp-profile [user]="user" (logout)="onLogout()"></zp-profile>
<div zp-nav-overflow>
  <zp-user-list [users]="contacts" [loading]="loading" [lastMessage]="true" [unreadMessage]="true" (userClickedEmitter)="onContactClicked($event)">
    <div class="zp-user-list-actions">
      <h4>Contacts({{contacts?.length}})</h4>
      <span class="flex-fill"></span>
      <zp-add-contact></zp-add-contact>
    </div>
  </zp-user-list>
</div>
