<div class="zp-mockup-infos">
  <p (click)="switchLayout()">group:{{group}}</p>
  <p>videos:{{videos?.length}}</p>
  <p (click)="updateVideo(true)">add</p>
  <p (click)="updateVideo(false)">remove</p>
</div>

<div zp-video-container>
  <div zp-video *ngFor="let video of videos; trackBy:video?.id" [class.group]="group" [class.focus]="video.focus">
    <video [src]="video.stream"></video>
    <div zp-video-placeholder>
      <img [src]="video.user.avatar" alt="">
      <p>{{video.user.firstname}}</p>
    </div>
  </div>
</div>