@import '../../../../styles/_variables';

:host {
  position: relative;
  width: 95vw;
  height: 95vh;
  background-color: $zp-white;
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
}

[zp-gallery-container]{
  position: relative;
  width: 100%;
  max-height: calc(100% - 88px);
  flex: 1 1 0;
}

[image]{
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition-property: filter;
  will-change: filter;
  transition-duration: $transition-duration-fast;
  transition-timing-function: $transition-easing;
  backface-visibility: hidden;
  &.loading{
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transition-duration: 0s;
  }
}

[video]{
  width: 100%;
  height: 100%;
}

[file]{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  md-icon{
    width: 120px;
    height: 120px;
    font-size: 120px;
    color: md-color($primary);
    transition-property: opacity;
    will-change: opacity;
    transition-duration: $transition-duration-fast;
    transition-timing-function: $transition-easing;
  }  
  p{
    font-size: $font-size-xs;
    padding: 1px 0;
    span{
      font-weight: bold;
    }
  }
  &.loading{
    md-icon{
      opacity: 0.5;
    }
  }
}

[default]{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

[zp-gallery-previous],
[zp-gallery-next]{
  position: absolute;
  top: 50%;
  margin-top: -($zp-size-lg * 0.5);
  z-index: 1;
}
[zp-gallery-previous]{
  left: 20px;
}
[zp-gallery-next]{
  right: 20px;
}

md-toolbar{
  font-size: $font-size-xs;
}