@import '../../../../styles/_variables';

:host {
  position: relative;
  width: 95vw;
  height: 95vh;
  background-color: $zp-white;
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
}

[zp-gallery-container]{
  position: relative;
  width: 100%;
  max-height: calc(100% - 88px);
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

[image],
[image-loader]{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
[image-loader]{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition-property: filter, opacity;
  will-change: filter, opacity;
  transition-duration: $transition-duration-fast;
  transition-timing-function: $transition-easing;
  backface-visibility: hidden;
  &.loading{
    opacity: 1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transition-duration: 0s;
  }
}
[image]{
  position: relative;
  opacity: 1;
  transition-property: opacity;
  will-change: opacity;
  transition-duration: $transition-duration-fast;
  transition-timing-function: $transition-easing;
  &.loading{
    opacity: 0;
  }
}

[video]{
  width: 100%;
  height: 100%;
}

pdf-viewer{
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

[file]{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &.loading{
    md-icon{
      opacity: 0.5;
    }
  }
}


[zp-gallery-previous],
[zp-gallery-next]{
  position: absolute;
  top: 50%;
  margin-top: -($zp-size-lg * 0.5);
  z-index: 2;
  box-shadow: 0 0 0px 1px white;
}
[zp-gallery-previous]{
  left: 20px;
}
[zp-gallery-next]{
  right: 20px;
}

md-toolbar{
  font-size: $font-size-xs;
}

md-spinner{
  z-index: 1;
}