
<md-toolbar color="primary">  
  <button md-icon-button (click)="download()">
    <md-icon>file_download</md-icon>
  </button>
  
  <button md-icon-button (click)="print()" *ngIf="selected.metadata.printable">
    <md-icon>print</md-icon>
  </button>
  
  <button md-icon-button [md-menu-trigger-for]="menuShare">
    <md-icon>share</md-icon>
  </button>
  <md-menu #menuShare="mdMenu">
    <button md-menu-item> Facebook </button>
    <button md-menu-item> Twitter </button>
    <button md-menu-item> Google </button>
  </md-menu>

  <span class="flex-fill"></span>

  <button md-icon-button (click)="close()">
    <md-icon>close</md-icon>
  </button>
</md-toolbar>

<button lg accent zp-gallery-previous *ngIf="hasPrevious" md-icon-button (click)="previous()" [@fadeInAnimation]="hasPrevious">
  <md-icon>keyboard_arrow_left</md-icon>
</button>

<div zp-gallery-container>
  <img image-loader *ngIf="selected.metadata.type == 'image' && selected.metadata.thumbnail" [src]="selected.metadata.thumbnail" alt="" draggable="false" [class.loading]="loading" #imageLoaderRef>
  <img image *ngIf="selected.metadata.type == 'image'  && selected.metadata.parsable == true" [src]="selected.value" alt="" draggable="false" (load)="onLoaded()" [class.loading]="loading" #imageRef>
  <zp-attachement-placeholder [message]="selected" *ngIf="selected.metadata.type == 'image' && selected.metadata.parsable == false"></zp-attachement-placeholder>

  <template [ngIf]="selected.metadata.type == 'file'">
    <!-- Parsable File -->
    <div file *ngIf="selected.metadata.parsable == true" [class.loading]="loading"  [ngSwitch]="selected.metadata.subtype">
      <video video *ngSwitchCase="'video'" controls autoplay [src]="selected.value" (canplay)="onLoaded()"></video>
      
      <audio audio *ngSwitchCase="'audio'" controls autoplay [src]="selected.value" (canplay)="onLoaded()"></audio>

      <template [ngSwitchCase]="'pdf'">
        <template [ngIf]="preview == true">
          <pdf-viewer [src]="selected.value"
                      [after-load-complete]="afterPdfLoaded"
                      [page]="1"
                      [render-text]="true"
                      [original-size]="false">
          </pdf-viewer>
          <p *ngIf="loading">PDF preview can be slow...</p>
        </template>
        <template [ngIf]="preview == false">
          <zp-attachement-placeholder [message]="selected" (onInitEmitter)="onLoaded()"></zp-attachement-placeholder>
          <button lg color="primary" md-raised-button (click)="activePreview()">preview</button>
        </template>
      </template>
    </div>
    <!-- Unparsable File -->
    <zp-attachement-placeholder [message]="selected" *ngIf="selected.metadata.parsable == false"></zp-attachement-placeholder>
  </template>
</div>

<button lg accent zp-gallery-next *ngIf="hasNext" md-icon-button (click)="next()" [@fadeInAnimation]="hasNext">
  <md-icon>keyboard_arrow_right</md-icon>
</button>

<md-toolbar toolbar-bottom color="primary" sm>
  <span filename>{{selected.metadata.name}}</span>
  <span hidden-xs>&nbsp;-&nbsp;</span>
  <span hidden-xs>{{selected.metadata.size}}</span>
  <span class="flex-fill"></span>
  <span *ngIf="files.length > 1">{{index + 1}}/{{files.length}}</span>
</md-toolbar>

<md-spinner centered *ngIf="loading" [@fadeInAnimation]="loading" color="accent"></md-spinner>