
<md-toolbar color="primary">  
  <button md-icon-button (click)="download()">
    <md-icon>file_download</md-icon>
  </button>
  
  <button md-icon-button (click)="print()">
    <md-icon>print</md-icon>
  </button>
  
  <button md-icon-button [md-menu-trigger-for]="menuShare">
    <md-icon>share</md-icon>
  </button>
  <md-menu #menuShare="mdMenu">
    <button md-menu-item> Facebook </button>
    <button md-menu-item> Twitter </button>
    <button md-menu-item> Google </button>
  </md-menu>

  <span class="flex-fill"></span>

  <button md-icon-button (click)="close()">
    <md-icon>close</md-icon>
  </button>
</md-toolbar>

<button lg accent zp-gallery-previous *ngIf="hasPrevious" md-icon-button (click)="previous()" [@fadeInAnimation]="hasPrevious">
  <md-icon>keyboard_arrow_left</md-icon>
</button>

<div zp-gallery-container>
  <img image-loader *ngIf="selected.metadata.type == 'image' && selected.metadata.thumbnail" [src]="selected.metadata.thumbnail" alt="" draggable="false" [class.loading]="loading" #imageLoaderRef>
  <img image *ngIf="selected.metadata.type == 'image'  && selected.metadata.parsable == true" [src]="selected.value" alt="" draggable="false" (load)="onLoaded()" [class.loading]="loading" #imageRef>
  <zp-attachement-placeholder [message]="selected" *ngIf="selected.metadata.type == 'image' && selected.metadata.parsable == false"></zp-attachement-placeholder>

  <!-- Parsable File -->
  <div file *ngIf="selected.metadata.type == 'file' && selected.metadata.parsable == true" [class.loading]="loading"  [ngSwitch]="selected.metadata.extension">
    <video video *ngSwitchCase="'video'" controls autoplay [src]="selected.value" (canplay)="onLoaded()"></video>
    
    <audio audio *ngSwitchCase="'audio'" controls autoplay [src]="selected.value" (canplay)="onLoaded()"></audio>

    <pdf-viewer *ngSwitchCase="'pdf'" [src]="selected.value"
                [after-load-complete]="afterPdfLoaded"
                [page]="1"
                [render-text]="true"
                [original-size]="false">
    </pdf-viewer>
  </div>
  <!-- Unparsable File -->
  <zp-attachement-placeholder [message]="selected" *ngIf="selected.metadata.type == 'file' && selected.metadata.parsable == false"></zp-attachement-placeholder>
</div>

<button lg accent zp-gallery-next *ngIf="hasNext" md-icon-button (click)="next()" [@fadeInAnimation]="hasNext">
  <md-icon>keyboard_arrow_right</md-icon>
</button>

<md-toolbar color="primary" sm>
  <span>{{selected.metadata.name}}</span>
  <span>&nbsp;-&nbsp;</span>
  <span>{{selected.metadata.size}}</span>
  <span class="flex-fill"></span>
  <span *ngIf="files.length > 1">{{index + 1}}/{{files.length}}</span>
</md-toolbar>

<md-spinner centered *ngIf="loading" [@fadeInAnimation]="loading" color="accent"></md-spinner>