<h1>Home</h1>
<div md-card-container>
  <md-card *ngFor="let card of cards; let $index = index"
           [attr.data-hint]="card.hint ? card.hint : null" data-hintPosition="top-left">
    <md-card-title>{{card.title}}</md-card-title>   
    <md-card-subtitle>{{card.subtitle}}</md-card-subtitle>

    <md-card-content>
      <p>{{card.content}}</p>
      <x-chartist *ngIf="card.chart" #chart
        [class]="card.chart.class"
        [data]="card.chart.data"
        [type]="card.chart.type"
        [options]="card.chart.options"
        [responsiveOptions]="card.chart.responsiveOptions"
        [events]="card.chart.events">
      </x-chartist>
    </md-card-content>
    
    <md-card-actions>
      <template ngFor let-action [ngForOf]="card.actions">
        <button *ngIf="action.text" md-raised-button>{{action.text}}</button>
        <button *ngIf="action.icon" md-icon-button>
          <md-icon>{{action.icon}}</md-icon>
        </button>
      </template>
    </md-card-actions>
  </md-card>  
</div>