@import '../../../../styles/_variables';

[md-card-container]{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  flex-wrap: wrap;
}
md-card{
  min-width: 200px;
  height: 100%;
  margin: 5px;
  text-align: center;
  flex-grow: 1;
  md-card-actions{
    text-align: right;
  }
}