zp-user-list{
  width: 300px;
  margin: -22px;
  md-checkbox.user-checkbox{
    pointer-events: none;
  }
}

.zp-user-list-actions,
.zp-user-list-actions-bottom{
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
}