zp-user-list{
  width: 300px;
  max-height: 60vh;
  overflow: auto;
  margin: -22px;
}

.zp-user-list-actions,
.zp-user-list-actions-bottom{
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
}