
<ng-content select=".zp-user-list-actions"></ng-content>

<md-list dense *ngIf="!loading" [@listAnimation]="!loading" [class.shadow]="withShadow">
  <md-list-item *ngFor="let user of users; let $index = index; trackBy: trackById;" (click)="onUserClicked(user)" [routerLinkActive]="['is-active']">
    <zp-avatar md-list-avatar [user]="user" [size]="80"></zp-avatar>
    <h3 md-line>
      <zp-username [user]="user"></zp-username>
    </h3>
    <p md-line md-line-last-message *ngIf="lastMessage">
      <span> {{user.metadata.message}} </span>
    </p>      
    <template [ngTemplateOutlet]="templateUserAction" [ngOutletContext]="{user:user}" select=".zp-user-list-user-action"></template>
  </md-list-item>

  <ng-content *ngIf="users.length == 0" select=".zp-user-list-empty"></ng-content>
</md-list>

<ng-content select=".zp-user-list-actions-bottom"></ng-content>

<md-spinner *ngIf="loading" [@loadingAnimation]="loading"></md-spinner>