@import '../../../../styles/_variables';

:host{
  display: block;
  position: relative;
}

md-list-item{
  display: block;
  cursor: pointer;
  h3{
    transition-property: transform;
    will-change: transform;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
  }
  &:hover{
    h3{
      transform: translateX(10px);
    }
  }
}

[md-list-avatar]{
  padding: 2px;
  background-color: $background;
  border: 2px solid $background-accent;
}

[md-list-actions]{
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 20px;
}