@import '../../../../styles/_variables';

:host{
  display: block;
  position: relative;
}

md-list-item{
  display: block;
  cursor: pointer;
  transition-property: background-color;
  will-change: background-color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  h3{
    transition-property: transform;
    will-change: transform;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
  }
  &:hover{
    background-color: $zp-whiter;
    h3{
      transform: translateX(10px);
    }
  }
}

[md-list-avatar]{
  padding: 2px;
  background-color: $background;
  border: 2px solid $background-accent;
}

md-spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -($md-spinner-size * 0.5);
  margin-top: -($md-spinner-size * 0.5);
}