@import '../../../../styles/_variables';
md-list{
}
md-list-item{
  display: block;
  cursor: pointer;
  transition-property: background-color, padding;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  &:hover{
    padding-left: 10px;
    background-color: $zp-white;
  }
}

[md-list-avatar]{
  padding: 2px;
  background-color: $background;
  border: 2px solid $background-accent;
}

[md-list-actions]{
  display: flex;
  align-items: center;
  flex-direction: column;
}